<h1>Register Page</h1>
<h2>
    Have an account? <a routerLink="../login">Login now!</a>
</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem laudantium odit explicabo, animi tempore minima veniam
    accusamus, iure magnam, unde omnis! Fugiat nisi et eos dolores officia deserunt optio ullam cupiditate recusandae
    neque! Maxime quidem quibusdam enim commodi excepturi aperiam. Nemo dicta suscipit soluta recusandae odio beatae
    quidem sunt, illum iste velit voluptas temporibus voluptatem ullam iusto eum aperiam possimus necessitatibus animi,
    quis consectetur expedita dolor. Cupiditate hic quam ratione nihil doloremque, iusto, nostrum, dicta sed facere
    assumenda debitis illo tempora vero deserunt. Accusamus reprehenderit odio sint neque cum! Itaque, totam optio.
    Nobis ea suscipit nulla alias, sequi, obcaecati enim asperiores quas soluta perspiciatis iusto non similique
    doloribus iste cupiditate, laudantium eius? Voluptatibus consequatur dolor cupiditate facere aspernatur quasi quod
    quisquam ipsum consequuntur. Quibusdam nulla asperiores aspernatur ullam eligendi aperiam, consequatur odit ad
    mollitia eius molestiae nobis. Obcaecati tempore nostrum minus totam nisi, unde odit ab facilis architecto.
    Quibusdam ullam quod excepturi. Tempore blanditiis recusandae maiores amet, similique eos aut molestiae veritatis
    dignissimos sequi adipisci asperiores, sapiente magni facere nihil laborum culpa quibusdam. Praesentium nobis
    voluptate porro laudantium necessitatibus quas dolorem. Corrupti tenetur explicabo qui esse distinctio odit
    repellendus consequuntur nostrum veniam molestiae, perspiciatis quibusdam provident est ab laudantium enim!</p>