.movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    
    .movie-card  {
        width: 200px;
        list-style-type: none;
        
        a {
            text-decoration: none;
            font-size: 18px;
        }
        img {
            width: 100%;
        }
    }
}
