<h1>Todo List</h1>
<br>

<ul>
    <!-- <li *ngFor="let todo of todos; index as i">
        [{{ i }}]
        {{ todo }}
    </li> -->

    <!-- khi biên dịch thì angular sẽ mở rộng cú pháp từ shorthand ở trên thành như dưới này -->
    <!-- <ng-template ngFor let-todo [ngForOf]="todos" let-i="index">
        [{{ i }}]
        <li>{{ todo }}</li>
    </ng-template> -->

    <!-- <li *ngFor="let todo of todos; index as i; first as isFisrt">
        [{{ i }}]
        {{ todo }}
        <span *ngIf="isFisrt">(The first element)</span>
    </li> -->


    <!-- <li *ngFor="let todo of todos; first as isFirst; $implicit as x; count as length">
        <span *ngIf="isFirst; else todoElseBlock">It's first element => Not showing</span>
        <ng-template #todoElseBlock>
            {{ todo }}
        </ng-template>
        {{ length }}
    </li> -->

    <li *ngFor="let todo of todos; odd as oddElement; index as i">
        [{{ i }}]
        <span *ngIf="oddElement; else evenBlock">{{ todo }} (odd position)</span>
        <ng-template #evenBlock>
            <span>{{ todo }} (event position)</span>
        </ng-template>
    </li>
</ul>