.song-block {
    display: flex;
    justify-content: space-between;

    .song-list {
        // margin: 4rem 0 0 0;
        li {
            list-style-type: none;
            font-size: 20px;
        }
    }
}