<div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="handleSubmitRegister()">
        <h1>Register</h1>
        <div class="form-control">
            <p>Username</p>
            <input placeholder="Enter username" formControlName="username">
            <div *ngIf="username?.invalid && (username?.dirty || username?.touched)">
                <p *ngIf="username?.errors?.required" style="color: red">Username is required</p>
                <p *ngIf="username?.errors?.minlength" style="color: red">Username minimum 6 characters</p>

                <p *ngIf="username?.errors?.usernameDuplicated" style="color: red">Duplicated Username</p>
            </div>
        </div>
        <div class="form-control">
            <p>Password</p>
            <input placeholder="Enter password" formControlName="password">
            <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                <p *ngIf="password?.errors?.required" style="color: red">Password is required</p>
                <p *ngIf="password?.errors?.minlength" style="color: red">Password minimum 6 characters</p>

                <!-- <p *ngIf="password?.errors?.pattern" style="color: red">Invalid Password</p> -->
            </div>
        </div>
        <div class="form-control">
            <p>Confirm Password</p>
            <input placeholder="Confirm your password" formControlName="confirmPassword">
            <div *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)">
                <p *ngIf="confirmPassword?.errors?.required" style="color: red">confirmPassword is required</p>
                <p *ngIf="confirmPassword?.errors?.minlength" style="color: red">Confirm Password minimum 6 characters
                </p>

                <!-- <p *ngIf="username?.errors?.usernameDuplicated" style="color: red">Duplicated Username</p> -->
            </div>
        </div>
        <div class="form-control">
            <button [disabled]="registerForm.invalid">Register now!</button>
        </div>

        <pre>{{ registerForm.value | json }}</pre>
    </form>
</div>